{% comment %}
snippets/basic-responsive-image.liquid

Renders a responsive image with featured.

Accepts:

- type:      {Object} Image object. (required)
- width:     {Number} Explicit image width. (optional)
- sm_render: {String} Width of image for small viewports. (optional)
- lg_render: {String} Width of image for large viewports. (optional)
- md_render: {String} Width of image for medium viewports. (optional)
- img_class: {String} CSS Classes added to the img element. (optional)
- class:     {String} CSS Classes added to the parent '.box-ratio' element. (optional)
- loading:   {String} Set the loading attribute. By default is 'lazy'. (optional)

Usage:
{%
  render 'basic-responsive-image',
  type: product.image,
  width: 1200,
  sm_render: sm_render,
  lg_render: lg_render,
  md_render: md_render,
  img_class: class,
  class: class,
  loading: 'eager'
%}
{% endcomment %}
{% assign image_box_ratio = type.height | append: ".0" | times: 1 | divided_by: type.width | times: 100 | append: "%" %}
{% assign target_width = width | default: 1200 %}
{% assign image_alt = type.alt | escape %}
{%- capture sizes -%}
  (min-width: 1601px) {{ lg_render | default: '2000px' }},
  (min-width: 768px) and (max-width: 1600px) {{ md_render | default: '1200px' }},
  (max-width: 767px) {{ sm_render | default: '100vw' }}, 900px
{%- endcapture -%}
{%- capture image_src -%}
  {% render 'imagekit', src: type | image_url: width: target_width %}
{%- endcapture -%}
{% assign image_src = image_src | strip %}

<div class="box-ratio lazyload {{ class }}" style="padding-bottom: {{ image_box_ratio }};">
  <img
    src="{{ image_src }}"
    sizes="{{ sizes | strip }}"
    srcset="{{ image_src }}"
    class="{{ img_class }}"
    loading="{{ loading | default: 'lazy' }}"
    alt="{{ image_alt }}">
</div>
<noscript>
  {%- capture noscript_src -%}
    {% render 'imagekit', src: type | image_url: width: target_width %}
  {%- endcapture -%}
  <img src="{{ noscript_src | strip }}" alt="{{ image_alt }}">
</noscript>
