<!doctype html>
<html lang="en" class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
{% if request.path contains 'products/long-sleeve-bathers-grey' or request.path contains 'a/returns' %}
<meta name="robots" content="noindex, nofollow">
{% endif %}
{% if template == '404' %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}


    
    {% comment %}
    <script>
      eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('l(r.O=="P y"){i j=[],s=[];u Q(a,b=R){S c;T(...d)=>{U(c),c=V(()=>a.W(X,d),b)}}2.m="Y"+(2.z||"")+"Z";2.A="10"+(2.z||"")+"11";12{i a=r[2.m],e=r[2.A];2.k=(e.B(\'y\')>-1&&a.B(\'13\')<0),2.m="!1",c=C}14(d){2.k=!1;i c=C;2.m="!1"}2.k=k;l(k)i v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&j.w&&j.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(e.4("f-3",e.3),e.g("3"),e.15="16/17")})})}),p=0,q=K;18 i v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&j.w&&j.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(s.w&&s.8(t=>{e.3.h(t)&&(e.4("f-3",e.3),e.g("3"))}),e.9.h("x")&&(e.9=e.9.L("l(2.M)","N.19(\'1a\',u(1b){x();});l(2.M)").1c(", x",", u(){}")),(e.9.h("1d")||e.9.h("1e"))&&(e.9=e.9.L("1f","1g")))})})}),p=0,q=K;v.1h(N.1i,{1j:!0,1k:!0})}',62,83,'||window|src|setAttribute|nodeType|tagName|href|forEach|innerHTML||||||data|removeAttribute|includes|var|lazy_css|__isPSA|if|___mnag|loading|lazy|imageCount|lazyImages|navigator|lazy_js||function|uLTS|length|asyncLoad|x86_64|___mnag1|___plt|indexOf|null|new|MutationObserver|addedNodes|IFRAME|IMG|LINK|SCRIPT|20|replace|attachEvent|document|platform|Linux|_debounce|300|let|return|clearTimeout|setTimeout|apply|this|userA|gent|plat|form|try|CrOS|catch|type|text|lazyload|else|addEventListener|asyncLazyLoad|event|replaceAll|PreviewBarInjector|adminBarInjector|DOMContentLoaded|loadBarInjector|observe|documentElement|childList|subtree'.split('|'),0,{}));eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('B(m[\'\\4\\5\\n\\o\\6\\5\\7\\p\\8\'][\'\\q\\r\\9\\8\\s\\6\\9\\4\\7\'].u(\'C\')!=-1&&m[\'\\4\\5\\n\\o\\6\\5\\7\\p\\8\'][\'\\q\\r\\9\\8\\s\\6\\9\\4\\7\'].u(\'D\')!=-1){v i=[],E=[];F G(a,b=H){I c;J(...d)=>{K(c),c=L(()=>a.M(N,d),b)}}v w=O P(e=>{e.j(({Q:e})=>{e.j(e=>{1===e.f&&"R"===e.g&&(e.3("x","y"),e.3("k-2",e.2),e.l("2")),1===e.f&&"S"===e.g&&++z>A&&e.3("x","y"),1===e.f&&"T"===e.g&&i.U&&i.j(t=>{e.h.V(t)&&(e.3("k-h",e.h),e.l("h"))}),1===e.f&&"W"===e.g&&(e.3("k-2",e.2),e.l("2"),e.X="Y/Z")})})}),z=0,A=10;w.11(12.13,{14:!0,15:!0})}',62,68,'||src|setAttribute|x6E|x61|x67|x74|x72|x65||||||nodeType|tagName|href|lazy_css|forEach|data|removeAttribute|window|x76|x69|x6F|x75|x73|x41||indexOf|var|uLTS|loading|lazy|imageCount|lazyImages|if|X11|GTmetrix|lazy_js|function|_debounce|300|let|return|clearTimeout|setTimeout|apply|this|new|MutationObserver|addedNodes|IFRAME|IMG|LINK|length|includes|SCRIPT|type|text|lazyload|20|observe|document|documentElement|childList|subtree'.split('|'),0,{}));
    </script>
    {% if request.page_type == 'index' %}
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Lazy Load Images
          let images = document.querySelectorAll("img[data-src]");
          images.forEach(img => {
            img.setAttribute("src", img.getAttribute("data-src"));
            img.removeAttribute("data-src");
          });

          // Minify Inline JavaScript
          let scripts = document.querySelectorAll("script:not([src])");
          scripts.forEach(script => {
            script.innerHTML = script.innerHTML.replace(/\s+/g, ' ').trim();
          });

          // Remove Unused CSS
          let stylesheets = document.querySelectorAll("link[rel='stylesheet']");
          stylesheets.forEach(sheet => {
            fetch(sheet.href).then(response => response.text()).then(css => {
              if (!css.includes('display: none') && css.length > 5000) {
                sheet.remove();
              }
            });
          });
        });
      </script>
    {% endif %}
    {% endcomment %}
    <meta name="p:domain_verify" content="8cee10c131ae8afd4d981d9c976786bc">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="google-site-verification" content="gdCZy8CEM9iX30ySYePLVcvb3l4TRYJZT0_DDFqLQwg" />

    <!-- Establish early connection to external domains -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    <link rel="preconnect" href="//ajax.googleapis.com" crossorigin>

    {% if product.handle == "navidium-returns" or product.handle == "navidium-shipping-protection" %}
      <script>
        window.location.href = "/";
      </script>
    {% endif %}

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
    ></script>

    {%- liquid
      assign main_font = settings.main_font
      assign heading_font = settings.heading_font
      assign nav_font = settings.nav_font
      assign main_font_bold = main_font | font_modify: 'weight', 'bolder'
      assign main_font_italic = main_font | font_modify: 'style', 'italic'
      assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic'
    -%}

    <!-- Preload onDomain stylesheets and script libraries -->
    
{% comment %} <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}"></noscript> {% endcomment %}

    <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}">
    {{ 'style.css' | asset_url | stylesheet_tag: preload: true }}

    {%- if main_font -%}
      <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
    {%- endif -%}
    {%- if heading_font -%}
      <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
    {%- endif -%}
    {%- if nav_font -%}
      <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
    {%- endif -%}

    <style>
      {{ main_font | font_face: font_display: 'swap' }}
      {{ heading_font | font_face: font_display: 'swap' }}
      {{ nav_font | font_face: font_display: 'swap' }}
      {{ main_font_bold | font_face: font_display: 'swap' }}
      {{ main_font_italic | font_face: font_display: 'swap' }}
      {{ main_font_bold_italic | font_face: font_display: 'swap' }}
    </style>

    {% if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif %}
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

    {% if template == 'collection' %}
      <meta name="description" content="All Ocean Soul Bali Products">
    {% endif %}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {% comment %} <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css"> {% endcomment %}
    <style>
      .yt-wrapper{max-width:100%;margin:0;padding:0 0 15px 0;}.youtube{background-color:#000;margin-bottom:30px;position:relative;padding-top:56.25%;overflow:hidden;cursor:pointer}.youtube img{width:100%;top:0;left:0;opacity:0.7}.youtube .play-button{width:90px;height:60px;background-color:#333;box-shadow:0 0 30px rgba( 0,0,0,0.6 );z-index:1;opacity:0.8;border-radius:6px}.youtube .play-button:before{content:"";border-style:solid;border-width:15px 0 15px 26.0px;border-color:transparent transparent transparent #fff}.youtube .play-button,.youtube img{cursor:pointer}.youtube .play-button,.youtube .play-button:before,.youtube iframe,.youtube img{position:absolute}.youtube .play-button,.youtube .play-button:before{top:50%;left:50%;transform:translate3d( -50%, -50%, 0 )}.youtube iframe{height:100%;width:100%;top:0;left:0}
      .yt-wrapper .youtube {
        background-image: url(https://cdn.shopify.com/s/files/1/0079/2274/5433/files/Screen_Shot_2019-06-25_at_9.50.59_PM_copy_2.jpg?v=1700722850);
        background-size: cover;
        background-position: center;
      }
      .jdgm-revs-tab{
            z-index: 104100000000!important;
      }
    </style>
    {{ content_for_header }}
    <script>
      /* don't expect this to work on older ie */

      window.oncontextmenu = function () { return false; }
    </script>
    
    <!-- Microsoft Clarity Tracking Code for https://www.oceansoulbali.com/ -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "gz3qjtyj59");
    </script>

    

    {% render 'gsf-conversion-pixels' %}

    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Function to smoothly scroll to an element by its ID
        function smoothScrollTo(elementId) {
          document.querySelector(elementId).scrollIntoView({
            behavior: 'smooth'
          });
        }

        // Check if there's a hash in the URL
        if (window.location.hash) {
          smoothScrollTo(window.location.hash);
        }

        // Listen for hash change events (e.g., when clicking on an anchor link)
        window.addEventListener('hashchange', function() {
          smoothScrollTo(window.location.hash);
        });
      });
    </script>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/plugins/bgset/ls.bgset.min.js" async></script> {% endcomment %}


  </head>
  
{% assign handlname = template | handleize %}
  <body class="gridlock template-{{ template | handleize }} {% if handlname == 'product-custom-one-piece'  %} template-product-custom-two-pieces {%endif%}{% if template contains 'product' %}product{% elsif template contains 'collection' %}collection{% else %}{{ template | handleize }}{% endif %} js-slideout-toggle-wrapper js-modal-toggle-wrapper product-variant-type--{{ settings.product_variants }} {% if settings.image_hover_scale %}theme-image-effect{% endif %} {% if settings.button_corners == 'curved' %}theme-buttons-curved{% endif %} {% if settings.switch_image or settings.alternate_colors %}theme-image-hover{% endif %} {% if settings.product_border %}theme-border{% endif %}">
    <div class="js-slideout-overlay site-overlay"></div>
    <div class="js-modal-overlay site-overlay"></div>
    <aside class="slideout slideout__drawer-left" data-wau-slideout="mobile-navigation" id="slideout-mobile-navigation">
      {% section 'mobile-navigation' %}
    </aside>

    <div class="site-wrap">
      <div class="page-wrap">
        {% comment %}
        {% section 'new-announcement' %}
        {% endcomment %}

        
  {% assign allowed_handles = settings.page_handle | split: ', ' %}

  {% assign current_handle = '' %}

    {% if request.page_type == 'page' %}
      {% assign current_handle = page.handle %}
    {% elsif request.page_type == 'product' %}
      {% assign current_handle = product.handle %}
    {% elsif request.page_type == 'collection' %}
      {% assign current_handle = collection.handle %}
    {% endif %}

    {% unless allowed_handles contains current_handle  %}

      {% section 'announcement-bar' %}
      {% section 'header' %}

    {% endunless %} 




        <main class="content-wrapper" role="main">
          {{ content_for_layout }}
        </main>
      </div>
      {% section 'rebuy-shipping-popup' %}

              
      {% assign allowed_handles = settings.page_handle | split: ', ' %}

      {% assign current_handle = '' %}

        {% if request.page_type == 'page' %}
          {% assign current_handle = page.handle %}
        {% elsif request.page_type == 'product' %}
          {% assign current_handle = product.handle %}
        {% elsif request.page_type == 'collection' %}
          {% assign current_handle = collection.handle %}
        {% endif %}

        {% unless allowed_handles contains current_handle  %}

          {% section 'footer' %}

        {% endunless %} 



      <a href="#" class="scrollup" aria-label="Scroll to top">
        {% render 'snip-icons',
          wrapper: '.scrollup',
          type: 'apollo',
          icon: 'up-carrot',
          classes: 'scrollup--icon',
          size: '12px',
          fill: 'var(--footer-text)',
          hover: 'var(--footer-text)'
        %}
      </a>
    </div>

    <aside
      class="slideout slideout__drawer-right search-sidebar"
      data-wau-slideout="search-sidebar"
      id="slideout-search-sidebar"
    >
      <div class="slideout__trigger--close">
        <button
          class="slideout__trigger-search-sidebar js-slideout-close"
          data-slideout-direction="right"
          aria-label="Close sidebar"
          tabindex="0"
          type="button"
          name="button"
        >
          <div class="icn-close"></div>
        </button>
      </div>
      <div class="sidebar__search-container">
        <form action="{{ routes.search_url }}" method="get">
          {%- if settings.predictive_search_enabled -%}
            <predictive-search
              data-routes="{{ routes.predictive_search_url | default: '/search/suggest' }}"
              data-show-only-products="{{ settings.search_show_products_only | default: 'false' }}"
              data-results-per-resource="6"
              data-input-selector='input[name="q"]'
              data-results-selector="#predictive-search"
            >
          {%- endif -%}
          <label class="visually-hidden" for="searchbox">{{ 'sections.search.placeholder' | t }}</label>
          <input
            type="text"
            name="q"
            id="searchbox"
            class="searchbox__input"
            placeholder="{{ 'sections.search.placeholder' | t }}"
            value="{{ search.terms | escape }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <input
            value="{{ 'sections.search.submit' | t }}"
            name="submit"
            id="search_button"
            class="button"
            type="submit"
          >

          <input name="options[prefix]" type="hidden" value="last">

          {% if settings.search_show_products_only %}
            <input type="hidden" name="type" value="product">
          {% endif %}

          {%- if settings.predictive_search_enabled -%}
            <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- endif -%}
      </div>
    </aside>

    {%- if settings.cart_type == 'drawer' -%}
      <aside class="slideout slideout__drawer-right mini-cart" data-wau-slideout="ajax-cart" id="slideout-ajax-cart">
        {% render 'cart-mini' %}
      </aside>
    {% elsif settings.cart_type == 'modal_cart' %}
      <div class="modal__container" data-wau-modal="ajax-cart" id="modal-ajax-cart">
        <div class="modal__inner-wrapper">
          {% render 'cart-mini' %}
        </div>
      </div>
    {%- endif -%}

    {%- if settings.quickview_type == 'modal' -%}
      <div class="modal__container" data-wau-modal="quickview" id="modal-quickview-cart">
        <div class="modal__inner-wrapper">
          {%- render 'product-quickview' -%}
        </div>
      </div>
    {%- elsif settings.quickview_type == 'drawer' -%}
      <aside
        class="slideout slideout__drawer-right mini-cart"
        data-wau-slideout="quickview"
        id="slideout-quickview-cart"
      >
        {%- render 'product-quickview' -%}
      </aside>
    {%- endif -%}

    {% render 'cart-config' %}
    <script src="{{ 'eventemitter3.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {% section 'mailing-popup' %}

    {%- if request.page_type contains 'customers/' or template == 'cart' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script>
      document.documentElement.className =
      document.documentElement.className.replace("no-js","js");
    </script>

    {% unless template == 'index' %}
      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!--
          Background of PhotoSwipe.
          It's a separate element as animating opacity is faster than rgba().
        -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
          <!--
            Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on.
          -->
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
          <div class="pswp__ui pswp__ui--hidden">
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              {% render 'snip-icons',
                wrapper: '.pswp__button',
                type: 'apollo',
                icon: 'left-carrot',
                classes: 'pswp__button--icon',
                size: '14px',
                fill: 'var(--direction-color)',
                hover: 'var(--direction-color)'
              %}
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              {% render 'snip-icons',
                wrapper: '.pswp__button',
                type: 'apollo',
                icon: 'right-carrot',
                classes: 'pswp__button--icon',
                size: '14px',
                fill: 'var(--direction-color)',
                hover: 'var(--direction-color)'
              %}
            </button>
            <button class="pswp__button pswp__button--close" title="Close (Esc)">
              {% render 'snip-icons',
                wrapper: '.pswp__button',
                type: 'apollo',
                icon: 'close',
                classes: 'pswp__button--icon',
                size: '15px',
                fill: 'var(--direction-color)',
                hover: 'var(--direction-color)'
              %}
            </button>
          </div>
        </div>
      </div>

      {% comment %}
      <script>
        var
             raflin_enabled = false,
             //raflin_promo_timer = 5000,
             raflin_x = 2,
             raflin_merchant = 'Ocean Soul Bali', //REQUIRED
             raflin_ab = 1;
             raflin_design = 'minimal';
      </script>

      {%- liquid
        assign min = 1000000
        assign max = 9999999
        assign diff = max | minus: min
        assign randomNumber = 'now' | date: '%N' | modulo: diff | plus: min
        assign raflin_path = '//cdn.shopify.com/s/files/1/0650/2019/9164/t/3/assets/'
      -%}
      <script src="{{ raflin_path }}raflin-v5.js?v={{ randomNumber }}" defer="defer"></script>
      <link href="{{ raflin_path }}raflin-v5.css?v={{ randomNumber }}" rel="stylesheet" type="text/css" media="all">
      {% endcomment %}

      {{ 'tiny-img-link-preloader.js' | asset_url | script_tag }}
    {% endunless %}
    <!-- include 'globo.preorder.custom' -->

    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js" defer="defer"></script>
    <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "TqHQ9W",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{
        trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: "button",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: false
        },
        modal: {
         headline: "{product_name}",
         body_content: "Register to receive a notification when this item comes back in stock.",
         email_field_label: "Email",
         button_label: "Notify me when available",
         subscription_success_label: "You're in! We'll let you know when it's back.",
         footer_content: '',
         additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
         drop_background_color: "#000",
         background_color: "#fff",
         text_color: "#222",
         button_text_color: "#fff",
         button_background_color: "#439fdb",
         close_button_color: "#ccc",
         error_background_color: "#fcd6d7",
         error_text_color: "#C72E2F",
         success_background_color: "#d3efcd",
         success_text_color: "#1B9500"
        }
      });
      !function(){for(var t=document.querySelectorAll(".youtube"),e=0;e<t.length;e++)t[e].addEventListener("click",function(){var t=document.createElement("iframe");t.setAttribute("frameborder","0"),t.setAttribute("allow","accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"),t.setAttribute("allowfullscreen",""),t.setAttribute("width",this.dataset.width),t.setAttribute("height",this.dataset.height),t.setAttribute("src","https://www.youtube.com/embed/"+this.dataset.embed+"?rel=0&showinfo=0&autoplay=1"),this.innerHTML="",this.appendChild(t)})}();
    </script>

    {% render 'navidium-scripts' %}

    {% if product %}
      <script>
          window.addEventListener('load', function() {
          var _learnq = window._learnq || [];
          function addedToCart() {
            fetch(`${window.location.origin}/cart.js`)
            .then(res => res.clone().json().then(data => {
              var cart = {
                total_price: data.total_price/100,
                $value: data.total_price/100,
                total_discount: data.total_discount,
                original_total_price: data.original_total_price/100,
                items: data.items
              }
              if (item !== 'undefined') {
                cart = Object.assign(cart, item)
              }
              if (klAjax) {
                  _learnq.push(['track', 'Added to Cart', cart]);
                  klAjax = false;
                }
            }))
          };
          (function (ns, fetch) {
            ns.fetch = function() {
              const response = fetch.apply(this, arguments);
              response.then(res => {
                if (`${window.location.origin}/cart/add.js`
                	.includes(res.url)) {
                  	addedToCart()
                }
              });
              return response
            }
          }(window, window.fetch));
          var klAjax = true;
          var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
          for (var i = 0; i < atcButtons.length; i++) {
              atcButtons[i].addEventListener("click", function() {
                if (klAjax) {
                  _learnq.push(['track', 'Added to Cart', item]);
                  klAjax = false;
                }
              })
          }
          });
      </script>
    {% endif %}

    {% if page.id == 98340274265 %}
      <script>
        window.addEventListener("klaviyoForms", function(e) {
            // Replace 'YOUR_FORM_ID' with your actual Klaviyo Form ID
            if (e.detail.type === 'submit' && e.detail.formId === 'WfGakD') {
                console.log("Specific Klaviyo form submitted:", e.detail.formId);

                // Facebook Pixel tracking
                fbq('track', 'CompleteRegistration');
            }
        });
      </script>
    {% endif %}

    {% if template.name == 'product' and product.metafields.custom.hide_notify_me_when_available != true %}
      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
      <script>
          var klaviyo = klaviyo || [];
          klaviyo.init({
            account: "TqHQ9W",
            platform: "shopify"
          });
          klaviyo.enable("backinstock",{
          trigger: {
            product_page_text: "Notify Me When Available",
            product_page_class: "button",
            product_page_text_align: "center",
            product_page_margin: "0px",
            replace_anchor: false
          },
          modal: {
           headline: "{product_name}",
           body_content: "Register to receive a notification when this item comes back in stock.",
           email_field_label: "Email",
           button_label: "Notify me when available",
           subscription_success_label: "You're in! We'll let you know when it's back.",
           footer_content: '',
           additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
           drop_background_color: "#000",
           background_color: "#fff",
           text_color: "#222",
           button_text_color: "#fff",
           button_background_color: "#439fdb",
           close_button_color: "#ccc",
           error_background_color: "#fcd6d7",
           error_text_color: "#C72E2F",
           success_background_color: "#d3efcd",
           success_text_color: "#1B9500"
          }
        });
      </script>
    {% endif %}

         
  <script>
document.addEventListener("DOMContentLoaded", function() {
  if (window.innerWidth <= 767) {
    const targetSection = document.querySelector("[data-section-scroll]");
    if (targetSection) {
      // Get the element’s position
      const yOffset = -50; // Offset of 80px upward
      const y = targetSection.getBoundingClientRect().top + window.pageYOffset + yOffset;

      // Smooth scroll with offset
      window.scrollTo({ top: y, behavior: "smooth" });
    }
  }
});
</script>
<!-- Widget : Free Tote with Gili -->
<div data-rebuy-id="270431"></div>
<!-- End Widget : Free Tote with Gili -->
  </body>
</html>

{% if template contains 'index' %}
  <script>
document.addEventListener("DOMContentLoaded", function() {
  const redirectURL = "/pages/all-judgeme-reviews";

  function addClickEvents() {
    const clickableElements = document.querySelectorAll(
      ".jdgm-rev-widg__summary, .jdgm-rev-widg__summary-inner, .jdgm-histogram.jdgm-temp-hidden .jdgm-histogram__row"
    );

    clickableElements.forEach(function(element) {
      if (!element.dataset.redirectBound) { // prevent duplicate bindings
        element.dataset.redirectBound = "true";
        element.style.cursor = "pointer";
        element.addEventListener("click", function() {
          window.location.href = redirectURL;
        });
      }
    });
  }

  // Run initially
  addClickEvents();

  // Run again if Judge.me updates DOM dynamically
  const observer = new MutationObserver(addClickEvents);
  observer.observe(document.body, { childList: true, subtree: true });
});
</script>

 <script>
   $(document).ready(function () {
  function setEqualHeight(selector) {
    var maxHeight = 0;

    // Reset any previously set height
    $(selector).css('height', 'auto');

    // Find the tallest height
    $(selector).each(function () {
      var thisHeight = $(this).outerHeight();
      if (thisHeight > maxHeight) {
        maxHeight = thisHeight;
      }
    });

    // Apply tallest height to all
    $(selector).height(maxHeight);
  }

  // Run it initially
  setEqualHeight('.floating__title .collection__item-details .collection--title');

  // Run again after window resize
  $(window).resize(function () {
    setEqualHeight('.floating__title .collection__item-details .collection--title');
  });
});

 </script>
  <style>
      .jdgm-paginate, .jdgm-review-widget .jdgm-write-rev-link, .jdgm-review-widget .jdgm-rev-widg__actions, .jdgm-review-widget .jdgm-rev-widg__body {
        display: none !important;
      }

      .jdgm-widget-actions-wrapper {
        display: none !important;
    }

      .jdgm-rev-widg__actions {
        display: none !important;
    }

      .jdgm-all-reviews__body, .jdgm-spinner {
        display: none !important;
    }
  </style>
{% endif %}
